In [19]:
import ibm_db

In [49]:
#Reemplace los valores de marcador de posición por sus credenciales reales del servicio de Db2
dsn_driver = "{ba03e4ffefa871bc8456656de405a3e994da2cfd}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_hostname = "dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net"           # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_port = "50000"                    # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_uid = "qsl97800"             # e.g. "abc12345"
dsn_pwd = "954gxzq-mk1xbk9z"                 # e.g. "7dBZ3wWt9XN6$o0J"

In [51]:
#Cree una conexión a la base de datos
#NO MODIFIQUE ESTA CELDA. Solo debe EJECUTARLA presionando Shift + Intro
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, 
                       dsn_database, 
                       dsn_hostname, 
                       dsn_port, 
                       dsn_protocol, 
                       dsn_uid, 
                       dsn_pwd)

try:
    conn = ibm_db.connect(dsn, "", "")
    
    print ("Conectado a la base de datos: ", dsn_database, "como el usuario ", dsn_uid, "en el host: ", dsn_hostname)

except:
    print ("No se pudo conectar a la base de datos: ", ibm_db.conn_errormsg() )

Conectado a la base de datos:  BLUDB como el usuario  qsl97800 en el host:  dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net

In [55]:
#Primero elimine la tabla INSTRUCTOR (DOCENTE) por si ya se creó en un intento anterior
dropQuery = "drop table INSTRUCTOR"

#Ahora ejecute la instrucción Eliminar
dropStmt = ibm_db.exec_immediate(conn, dropQuery)

In [75]:
createQuery = "create table INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2))"

createStmt = ibm_db.exec_immediate(conn,createQuery)

Exception: [IBM][CLI Driver][DB2/LINUXX8664] SQL0601N  The name of the object to be created is identical to the existing name "QSL97800.INSTRUCTOR" of type "TABLE".  SQLSTATE=42710 SQLCODE=-601

In [70]:
#Cree la instrucción y reemplace … por la instrucción Insertar
insertQuery = "INSERT into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')"

#Ejecute la instrucción Insertar 
insertStmt = ibm_db.exec_immediate(conn, insertQuery)

Exception: [IBM][CLI Driver][DB2/LINUXX8664] SQL0803N  One or more values in the INSERT statement, UPDATE statement, or foreign key update caused by a DELETE statement are not valid because the primary key, unique constraint or unique index identified by "1" constrains table "QSL97800.INSTRUCTOR" from having duplicate values for the index key.  SQLSTATE=23505 SQLCODE=-803

In [42]:
#Cree la instrucción para recuperar todas las filas de la tabla INSTRUCTOR 
selectQuery = "select * from INSTRUCTOR"

#Ejecute la instrucción
selectStmt = ibm_db.exec_immediate(conn, selectQuery)

#Busque el Diccionario (solo para la primera fila) y reemplace … por su código
ibm_db.fetch_both(selectStmt)

NameError: name 'conn' is not defined